
@{
    ViewBag.Title = "Administração";
}

<h2>Administração</h2>

<div>
    @Html.ActionLink("Novo Post", "CadastrarPost")
</div>

<div>
    @Html.ActionLink("Usuários", "Index", "Usuario") / @Html.ActionLink("Novo usuário", "CadastrarUsuario", "Usuario")
</div>